<div class="container-fluid">

	<h4>Filters</h4>
	<hr/>
	<form>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="inputyears">Years</label>
					<select class="form-control" id="inputyears" placeholder="Years" ng-model="year_selected" ng-change="getStatistics()">
						<option value="2014">2014</option>
						<option value="2015">2015</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="inputmonth">Months</label>
					<select class="form-control" id="inputmonth" placeholder="Months" ng-model="month_selected" ng-change="getStatistics()">
						<option value="1">Jan</option>
						<option value="2">Feb</option>
						<option value="3">Mar</option>
						<option value="5">Apr</option>
						<option value="4">May</option>
						<option value="6">Jun</option>
						<option value="6">Jun</option>
						<option value="7">Jul</option>
						<option value="8">Aug</option>
						<option value="9">Sep</option>
						<option value="10">Oct</option>
						<option value="11">Nov</option>
						<option value="12">Dec</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
			</div>
		</div>

	</form>

	<h4>General</h4>
	<hr/>
	<div class="row">

		<div class="col-md-3">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Cost €</h3>
				</div>
				<div class="panel-body">
					<h3>{{total_cost | number:2}}</h3>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Income €</h3>
				</div>
				<div class="panel-body">
					<h3>{{total_income | number:2}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Difference €</h3>
				</div>
				<div class="panel-body">
					<h3>{{difference_cost_income | number:2}}</h3>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Percentage Cost / Income</h3>
				</div>
				<div class="panel-body">
					<h3>{{percentage_cost_income | number:2}} %</h3>
				</div>
			</div>
		</div>

	</div>

	<h4>Yearly index</h4>
	<hr/>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Yearly cost €</h3>
				</div>
				<div class="panel-body">
					<h3>{{total_yearly_cost | number:2}}</h3>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Yearly income €</h3>
				</div>
				<div class="panel-body">
					<h3>{{total_yearly_income | number:2}}</h3>
				</div>
			</div>
		</div>
		<div class="col-md-6"></div>
	</div>

</div>